


/*right colum 30% */
.one-third
{
	width: 31.0%!important;
	margin:-13px 15px 0 0px !important;
	padding:0;
	
	float:right!important;
}

.two-thirds
{
width:66% !important;
}


.right-column .content
{
-webkit-box-shadow: none !important;
-moz-box-shadow:  none!important;
box-shadow:      none!important;
background:transparent;
}

/*FORCE SHARE TOP RIGHT DESKTOP*/



/*normal share hide*/
#share
{
	display:none;
}

#share ul
{
	width:30%;
	float:right;
	
}

label
{
margin-right: 30px !important;
}

select, textarea
{
	width:70%;
	margin-bottom: 0px;
	margin-top:15px;
}

input
{
	width:50%;
	margin-bottom: 20px;
	margin-top:0px;
}


input[type="radio"], input[type="checkbox"], input[type="checkbox"]
{
	width:auto;
	text-align: left;
	margin-right:10px;
	margin-top:10px;
	margin-left:-1px;
}

#columns_1_centrecolumn_1_radSearchBy_0
{
	margin-left:0px;
	margin-top:15px;

}
 #columns_1_centrecolumn_1_radSortBy_0
{
	margin-left:5px;
	
}

.radiolabel
{
	margin-left: -0px;
}

#columns_1_centrecolumn_1_radSearchBy .radiolabel
{
display:block;
}

#columns_1_twocolumns_1_leftcolumn_0_leftcolumn_1_radSearchBy

{
	margin-top:10px !important;
}

h3
{
	margin-bottom:0px;
}
table, td
{
	border:1px solid #cccccc;
	padding-right: 10px;
	padding-left:5px;
}


.codeColumn

{
	width:150px;
	text-align:left;
	padding-left:5px;

}

th
{
	border-left: 1px solid #cccccc;
	text-align:left;
	padding-left:5px;


}
.resultsTitle
{
	margin-top:5px;
}

.right-column
{
display:block;
width:40%!important;
padding-right:14%;
float:right;
margin-top:20px;
margin-right:-57%;


}
/*DESKTOP STYLES*/

@media screen and(min-width: 991px){

		
 

}

/*TABLET HORIZONTAL STYLES*/
@media screen and (max-width: 990px)
{


#sharefloatright
{
	width:100%;
}
#share
{
	display:none;
}

#share ul
{
	width:30%;
	float:right;
	
}

#breadcrumbscentral
{
	width:100%;
	margin-right:5px;

}
.content
{
	padding-left:5px !important;
}

	
}

/*TABLET VERTICAL STYLES*/
@media screen and (max-width: 800px)
{

#sharefloatright
{
display:none;
}

#share ul
{
	width:99.5%;
	float:right;
	margin:0 0 0 10px;
	
}

	#share
{
	position:relative;
	top:0;
	margin:0 0 0 0;
	padding:0;
	display:inline;
}



	


}


/* MOBILE STYLES */
@media screen and (max-width: 569px) 
{

	#breadcrumbscentral
{
	font-size:0.8em;
	margin-bottom:-10px;
}
	
	
	#share
{
	display:none;
}

select, textarea
{
	width:100%;
	margin-bottom: 20px;
	margin-top:10px;
}

input
{
	width:97%;
	
	margin-bottom: 20px;
	margin-top:10px;
}



}