


/*right colum 30% */

.one-third
{
	width: 30.0%!important;
	margin:10px 0 0 0 ;
	padding:0;
	float:right!important;
}

/*FORCE SHARE TOP RIGHT DESKTOP*/


/*normal share hide*/
#share
{
	display:none;
}

#share ul
{
	width:30%;
	float:right;
	
}

.content img
{
	border: 1px solid #cccccc;
	margin-left:-10px;
	padding-left:0px;
}
.content
{
	
}


.label
{

	float:left;
	color:#444444;
	font-weight: bold;
	margin-right: 10px;
	font-size: 0.95em;
	width:80px;
	max-width: 30%;
	clear:left;
}

.eventtext
{
	
	width:65%;
	font-size: 0.95em;
	display:inline-block;
	clear:left;
	
}
.multisections a
{
	color:#528787 !important;

	font-size:0.95em;

}

.multicurrent

{
	background-image:url('../images/selectarrow.png');
	background-repeat: no-repeat;
	background-position: left;
		font-weight:700;
}


.multisections li:hover
{
	
}

.multisections li
{
	display:inline-block;
	margin-right:30px;
	margin-left:-10px;
	padding-left:10px;
	width:100%;
	word-wrap: break-word;

	
	
}





/*DESKTOP STYLES*/

@media screen and(min-width: 991px){

		
 

}

/*TABLET HORIZONTAL STYLES*/
@media screen and (max-width: 990px)
{


#sharefloatright
{
	width:100%;
}
#share
{
	display:none;
}

#share ul
{
	width:30%;
	float:right;
	
}

#breadcrumbscentral
{
	width:100%;
	margin-right:5px;

}


.releasetitle
{
	margin-left: 5px;
}

.eventtext
{
	
	width:100%;
	font-size: 0.95em;
	display:inline-block;
	clear:left;
	
}
	
}



/*TABLET VERTICAL STYLES*/
@media screen and (max-width: 800px)
{

#sharefloatright
{
display:none;
}

#share ul
{
	width:99.5%;
	float:right;
	margin:0 0 0 10px;
	
}

	#share
{
	position:relative;
	top:0;
	margin:0 0 0 0;
	padding:0;
	display:inline;
}

	.pagetitle
{
	
	
	margin-top:15px;
}




#summary
{
	margin-top: 10px!important;
}
.multisections li
{
	display:inline-block;
	margin-right:30px;
	width:42%;
	
}


}


/* MOBILE STYLES */
@media screen and (max-width: 569px) 
{

		#breadcrumbscentral
{
	font-size:0.8em;
	margin-bottom:-10px;
}
	
	#share
{
	display:none;
}



.content
{

	margin-bottom:-10px;
}

.pagetitle
{
	
	
	margin-top:15px;
	margin-bottom:5px;
}

.multisections li
{
	display:inline-block;
	margin-right:30px;
	width:100%;
	word-wrap: break-word;

	
}




}