


/*right colum 30% */

.one-third
{
	width: 30.0%!important;
	margin:10px 0 0 0 ;
	padding:0;
	float:right!important;
}



.jumplinks
{
	margin-top:0px !important;
}

.rightbox
{

	margin-top:-75px;
}






.multicurrent

{
	background-image:url('../images/selectarrow.png');
	background-repeat: no-repeat;
	background-position: left;
		font-weight:700;
}

.releasetitle
{
	font-size: 1.9em;
	font-weight: bold;
	color: #555555;
	margin-top: 15px;
	margin-left: 0px;
}

.embargodate
{	
	font-size: 0.80em;
	color: #595959;
	margin-top:5px;
	font-weight: 700;
	margin-left: 0px;
}
.pagetitle
{
	color: #256f95 !important;
	font-size: 1.6em;
	
	}


/*FORCE SHARE TOP RIGHT DESKTOP*/

/*secondary share - desktop single content page because of single column*/

#sharefloatright
{
	position:absolute;
	float:right;
	width:981px;
	height:40px;
	padding:0;
	margin:20px auto 10px auto ;
}

#sharefloatright ul
{
	padding:0;
	width:30%;
	float:right;
	margin: 0px 2px 0 0;
}

#sharefloatright li
{
	display: inline-block;
}

#sharefloatright li:last-child
{
	padding-right: 0px;
}

#sharefloatright img
{
	box-shadow: 0px 2px 4px #cccccc;
}

/*normal share hide*/
#share
{
	display:none;
}

#share ul
{
	width:30%;
	float:right;
	
}

.content img
{
	

	padding-left:0px;
}
.content
{
	margin-top:0px;
}




.jumplinks a
{
	color:#528787 !important;

	font-size:0.95em;

}



.jumplinks li:hover
{
	
}

.jumplinks li
{
	display:inline-block;
	margin-right:30px;
	margin-left:-10px;
	padding-left:10px;
	width:80%;
	
	
}


.multisections a
{
	color:#528787 !important;
	text-decoration: none;
	font-size:0.95em;
	

}

.jumplinks a
{
	color:#528787 !important;
	border-bottom: none;
	font-size:0.95em;

}

.jumplinks a:hover
{
	border-bottom: none;
}

.multisections a
{
	color:#528787 !important;
	border-bottom: none;
	font-size:0.95em;

}

.multisections a:hover
{
	border-bottom: none;
}



.multisections h2
 {
	font-size: 1.1em;
 }

.multicurrent

{
	background-image:url('../images/selectarrow.png');
	background-repeat: no-repeat;
	background-position: left;
		font-weight:700;
}


.multisections li:hover
{

	
	
}



.multisections li
{
	display:inline-block;
	margin-right:30px;
	margin-left:-10px;
	padding-left:10px;
	width:25%;
	vertical-align: top;
	
	
}

.multisections
{

	margin-top: 15px;
	width:98%;
}



.chapternum
{
	color: #444;
	vertical-align:top;
	display:inline-block;
	width: 8%;
	}
.chaptertext
{
	display:inline-block;
	width:85%
}

#plussections
{
	margin-top:0px;
}



/*DROPDOWN MENUS*/



.drop li ol 	{
		display: none;  
		height: auto;									
		margin: 0; 
		padding: 0; 
		border-top:none !important;
		border:0px;
		}				


						
.drop li
{
	
	width:100% !important;
}

.drop ol
{
	margin-top: 10px !important;
	border-top:none !important;
}
.nextprev
{
	margin-top:-5px !important;
	color: rgb(249, 249, 249) !important;
	float:right;
}
			


#drop
{
		display:none;
		border-top:none !important;
}

.drop
{
		display:none;
		margin-top:9px;
		border-top:none !important;
}

#dropclick
{
	background-color:rgb(249, 249, 249);
	padding: 10px 10px 10px 10px;
	margin-bottom: -10px;
	border-left: 1px solid #90c6c5;
	border-right: 1px solid #90c6c5;
	border-bottom: 1px solid #90c6c5;
	
}






/*DESKTOP STYLES*/

@media screen and(min-width: 991px){

		
 

}

/*TABLET HORIZONTAL STYLES*/
@media screen and (max-width: 990px)
{


#sharefloatright
{
	width:100%;
}
#share
{
	display:none;
}

#share ul
{
	width:30%;
	float:right;
	
}

#breadcrumbscentral
{
	width:100%;
	margin-right:5px;

}


.releasetitle
{
	margin-left: 5px;
}

	

.embargodate
{	
	margin-left: 5px ;
	
}

}


/*TABLET VERTICAL STYLES*/
@media screen and (max-width: 800px)
{

#sharefloatright
{
display:none;
}

#share ul
{
	width:99.5%;
	float:right;
	margin:0 0 0 10px;
	
}

	#share
{
	position:relative;
	top:0;
	margin:0 0 0 0;
	padding:0;
	display:inline;
}

.jumplinks
{
	margin-top:0px !important;
}

.rightbox
{

	margin-top:0px;
}

.rightbox
{
	margin-bottom:5px !important;
}


	.pagetitle
{
	
	
	margin-top:15px;
}

.content
{
	margin-top:0px;
}


#summary
{
	margin-top: 10px!important;
}
.jumplinks li
{
	display:inline-block;
	margin-right:30px;
	width:40%;
	
}

.pagetitle
{
	color: #256f95 !important;
	margin-top: 0px;
	}
	
	
.multisections
{
	margin-top: 17px;
	margin-bottom:-5px;
	width:98.8%;
	
}


}


/* MOBILE STYLES */
@media screen and (max-width: 569px) 
{

	#breadcrumbscentral
{
	font-size:0.8em;
	margin-bottom:-10px;
}
	
	
	#share
{
	display:none;
}



.content
{
	margin-top:0px;
	margin-bottom:-10px;
}

.releasetitle
{
	font-size: 1.2em;
	font-weight: bold;
	
	margin-top: 0px;
	margin-left: 0px;
}

.pagetitle
{
	color: #256f95 !important;
	margin-top: -10px;
	font-size:1.2em;
	margin-left:0px;
	}

.embargodate
{	
	font-size: 0.65em;
	color: #595959;
	margin-top:2px;
	font-weight: 700;
	margin-left: 0px;
	margin-bottom:-10px;
}

.nextprev
{
	display:none;
}

.chapternum
{
	color: #444;
	vertical-align:top;
	display:inline-block;
	width: 15%;
	}
	
	.multisections
	{
		width:100%;
	}




}

.Bullet1  {
	background: transparent url(../../statistics/Images/bulletsIcons/li_disc2.gif) no-repeat left 7px;
	padding: 0px 0px 8px 15px;
	margin-left: 15px;
	text-indent: 20px;
}

.Bulletintroduction {
    padding-bottom: 5px;
}

.Copyrightinfoheadings {
    padding-bottom: 2px;
    padding-top: 10px;
    font-weight: bold;
}

.multipagetable td {
    border: 1px solid black;
}

.FootnoteText
{
    font-size: 0.9em;
}
