


/*right colum 30% */

.one-third
{
	width: 31.0%!important;
	margin:-13px 15px 0 0px !important;
	padding:0;
	
	float:right!important;
}

.two-thirds
{
width:66% !important;
}



.content img
{
	
	padding-left:0px;
}


.rightbox ul ul
{

border:none;
margin-top: -5px;
margin-left:-15px;
	
}


.jumplinks a
{

}



.jumplinks li:hover
{
	
}

.jumplinks li
{
	display:inline-block;
	margin-right:30px;
	margin-left:-10px;
	padding-left:10px;
	width:80%;
	
	
}




/*DESKTOP STYLES*/

@media screen and(min-width: 991px){

		
 

}

/*TABLET HORIZONTAL STYLES*/
@media screen and (max-width: 900px)
{


#sharefloatright
{
	width:100%;
}
#share
{
	display:none;
}

#share ul
{
	width:30%;
	float:right;
	
}

#breadcrumbscentral
{
	width:100%;
	margin-right:5px;

}


.releasetitle
{
	margin-left: 5px;
}
.one-third
{
margin: 0 0 12px 0 !important;
}

.rightbox
{
margin-top:-22px !important;
margin-bottom:-5px !important;
}


	
}

/*TABLET VERTICAL STYLES*/
@media screen and (max-width: 800px)
{

#sharefloatright
{
display:none;
}

#share ul
{
	width:99.5%;
	float:right;
	margin:0 0 0 10px;
	
}

	#share
{
	position:relative;
	top:0;
	margin:0 0 0 0;
	padding:0;
	display:inline;
}

	.pagetitle
{
	
	
	margin-top:15px;
}

.content
{
	margin-top:0px;
}


#summary
{
	margin-top: 10px!important;
}
.jumplinks li
{
	display:inline-block;
	margin-right:30px;
	width:40%;
	
}


}


/* MOBILE STYLES */
@media screen and (max-width: 569px) 
{
	#breadcrumbscentral
{
	font-size:0.8em;
	margin-bottom:-10px;
}
	
	#share
{
	display:none;
}



.content
{
	margin-top:0px;
	margin-bottom:-10px;
}






}